$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//Color
$white: #fff;
$black: #000;
$header-height: 85px;

body {
  font-family: $font;
  background-color: $white;
  line-height: 1.5;
  letter-spacing: -0.022em;
  font-size: 14px;
  color: #6e6f72;
}

.primColor {
  color: #9142a1 !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  height: $header-height;
  box-shadow: 0 1px 4px 0 rgba(209, 209, 209, 0.5);

  ul {
    list-style: none;
  }

  .header-logo--wrap {
    ul {
      display: flex;
      align-items: center;
      margin: auto 20px;
    }

    .chimp-logo {
      padding-right: 10px;
      border-right: 1px solid $black;

      a {
        display: inline-block;
        padding: 8px 0;
        margin-right: 10px;

        img {
          width: 122px;
        }
      }
    }

    .nav-logo-link {
      padding-left: 15px;

      a {
        color: #424242;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;

    ul {
      display: flex;
      align-items: center;
      height: $header-height;

      li.nav-cta-link {
        display: flex;
        height: 100%;
        a {
          color: #3b3434;
          font-size: 14px;
          margin: auto 15px;
          display: block;
          padding: 8px 16px;
        }
        &:hover {
          border-bottom: 2px solid $black;
        }
        &.nav-cta-A:hover {
          border-bottom-color: #009ea1;
          a {
            color: #009ea1;
          }
        }
        &.nav-cta-B:hover {
          border-bottom-color: #ed803b;
          a {
            color: #ed803b;
          }
        }
        &.nav-cta-C:hover {
          border-bottom-color: #db0163;
          a {
            color: #db0163;
          }
        }
        &.nav-cta-D:hover {
          border-bottom-color: #9142a1;
          a {
            color: #9142a1;
          }
        }
      }

      .social-cta-link {
        width: 16px;
        display: inline-flex;
        margin: auto 10px;

        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

footer {
  background-color: #f2f7fe;
  margin: 0 0 0;
  width: 100%;

  .subscribe-wrap {
    padding: 45px 0;
    border-bottom: 1px solid #c0c3d4;

    .c-row {
      display: flex;

      .c-sub-content {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @media (min-width: 768px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
        }

        h3 {
          font-size: 18px;
          line-height: 25px;
          margin: 0;
          color: #424242;
          font-weight: 600;
        }
      }

      .c-sub-form {
        align-self: center;
        @media (min-width: 768px) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
          max-width: 58.33333%;
        }

        form {
          text-align: right;

          .form-input {
            height: 41px;
            width: 300px;
            border: 1px solid #dcdcdc;
            border-radius: 22px;
            padding: 10px 25px;
            font-size: 16px;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            margin-right: 15px;
          }

          .sub-form-btn {
            vertical-align: middle;
            height: 41px;
            width: 140px;
            border-radius: 20.5px;
            background-color: #055ce5;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            color: #fff;
          }
        }
      }
    }
  }

  .footerLinkWraper {
    padding: 45px 0;
    border-bottom: 1px solid #c0c3d4;
    min-height: 390px;

    .c-row,
    .footer-link-cols {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .footer-link-cols {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
      }
    }

    .footer-link-cols > div:first-of-type {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }

    .footer-link-cols > div:nth-of-type(2),
    .footer-link-cols > div:nth-of-type(3) {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .c_footer_logo {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;

        .f__logo {
          margin-bottom: 16px;

          img {
            width: 180px;
          }
        }
      }
    }
  }

  .footerLinkList {
    margin-bottom: 30px;
    .linkItem {
      .hr-app-button {
        margin-bottom: 1em;
        margin-top: 0.3rem;
      }

      .linkListHeader {
        color: #393939;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 10px;
      }

      a {
        color: #7f7f7f;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 10px;

        img.appDownload {
          height: 35px;
        }

        &:hover {
          color: #80459c;
          font-weight: 400;
        }
      }
    }
  }

  .copyright-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .col-md-12 {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      @media (min-width: 768px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .copyRight {
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
  }

  .footerSocialLinks {
    display: inline-block;
    float: right;
    padding: 12px 0;
  }

  .footerSocialLinks a {
    display: inline-block;
    margin-left: 10px;
  }

  .footerSocialLinks a:first-child {
    margin-left: 0;
  }
}
